<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Recipe Book</title>
</head>
<body class="bg-gray-100">
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white text-lg font-bold">Recipe book</a>
            <div class="hidden md:flex space-x-4">
                <a href="/" class="text-gray-300 hover:text-white">Main page</a>
                <a href="/add" class="text-gray-300 hover:text-white">Add Recipe</a>
            </div>
        </div>
    </nav>
    <div class="container mx-auto mt-8">
        {% block content %}{% endblock %}
    </div>
</body>
</html>